Для исполнения Python-кода в браузере, можно использовать Google Colab. Если нужно исполнять код локально, проделайте следующие шаги: <br/>
1. Скачать и установить Python с официального сайта https://www.python.org/downloads/ . Проверьте, что при установке будет нажата галочка "Add Python to PATH" (для Windows). Если все было сделано верно, при вводе в консоль команды "python --version" ответом будет версия установленного дистрибутива.
2. Скачать и установить среду разработки. Подойдут Visual Studio Code, PyCharm.

In [ ]:
import this

Функция вывода на экран - print()

In [58]:
print("Hello, World!")

Hello, World!

In [59]:
print(2+2)

4

Арифметические операции: +, -, \*, /, \** <br/>

Общие правила определения приоритетов операций такие:<br/>

Сначала выполняются операции возведения в степень справа налево, то есть 2 ** 3 ** 2 — это 2 ** (3 ** 2)=512
.<br/>
Затем выполняются унарные минусы (отрицания).<br/>
Далее выполняются умножения и деления слева направо. Операции умножения и деления имеют одинаковый приоритет.<br/>
И последними выполняются сложения и вычитания слева направо. Операции сложения и вычитания имеют одинаковый приоритет.

In [60]:
print(2**3)

8

Задание: выведите на экран число 2 в степени 345

In [61]:
print(2**345)

71671831749689734737838152978190216899892655911508785116799651230841339877765150252188079784691427704832

Что выведет такая программа: print(3 * 2 ** 2) ?

А такая программа: print(4 * 2 ** (2 ** 2 ** 3 - 252)) ?

In [62]:
print(4 * 2 ** (2 ** 2 ** 3 - 252))

64

Если в вашей программе присутствуют большие вычисления, то неудобно их записывать в виде одного длинного выражения, лучше вычислять его значения по частям, используя переменные для хранения промежуточных результатов.

Переменная — это некоторая ячейка в памяти, в которой хранится какое-то значение любого из возможных типов, например число или строка. В переменную можно записать какое-то значение (это называется присвоить переменной значение). Для присваивания значения переменной используется операция =, где слева от знака присваивания записывается имя переменной, справа — присваиваемое значение, которое может быть числом, строкой, другой переменной, каким-то выражением. Значение переменной можно использовать при вычислениях или вывести его на экран при помощи функции print().

In [65]:
lesson_time = 90
rest_time = 10
lunch_time = 30
n = 3
total_time = lesson_time * n + lunch_time + (n - 2) * rest_time
total_time_2 = lesson_time * n + (n - 1) * rest_time
print(total_time_2 / 60)

4.833333333333333

In [66]:
a = 9
b = a
a = 2

a = a + 3
b = a + b + 3
print(a, b)

5 17

Типы данных

Если мы присваиваем переменной a значение, равное 5, то переменная будет иметь значение типа int, который используется для целых чисел. При умножении, вычитании и сложении чисел этого типа мы получаем числа того же типа.

Мы уже сталкивались с тем, что при выполнении операции деления результатом будет дробное число. Если переменной b присвоить значение 10 / 2, при выводе на экран результата увидим число 5.0, которое равно числу 5, но имеет другой тип. Переменная b имеет значение типа float. Это специальный тип данных для представления действительных чисел, и при умножении, вычитании и сложении чисел этого типа мы получаем числа того же типа.

Ещё один тип данных используется для работы со строками. Если мы присваиваем переменной с значение, равное 'Hello', то эта переменная будет иметь значение типа str. Строки тоже можно складывать. Однако операция сложения для целых чисел и для строк работает по-разному: для чисел это сложение, а для строк — конкатенация.

Основные операции над строками:

A + B — конкатенация, то есть соединение строк путём размещения строки B сразу после строки A;

A * n — повторение строки n
 раз, значение n
 должно быть целого типа.

Преобразование типов
Иногда полезно целое число записать как строку. И наоборот, если строка состоит из цифр, то полезно эту строку представить в виде числа, чтобы дальше можно было выполнять арифметические операции с ней. Для этого используются функции, имя которых совпадает с именем типа, то есть int, float, str. Например, int('123') вернёт целое число 123, а str(123) вернёт строку '123'.

In [69]:
n = 5
price = 100
s = str(n) + " ручек стоят " + str(n * price) + " рублей"
print(s)

5 ручек стоят 500 рублей

In [74]:
print(str(1 + 1) * int('1' + '1'))

22222222222

In [70]:
int('1' + '1')

11

In [ ]:
'1' + '1'

In [71]:
str(1 + 1)

'2'

In [78]:
int("5")

5

f-строки

In [80]:
n = 5
price = 100

string = f"{n} ручек стоят {n*price} рублей"
print(string)

5 ручек стоят 500 рублей

Задание
Напишите программу, которая будет выводить на экран число, равное квадрату числа, записанного при помощи 111 единиц.

In [82]:
# ваш код
int('1' * 111) ** 2

12345679012345679012345679012345679012345679012345679012345679012345679012345679012345679012345679012345679012320987654320987654320987654320987654320987654320987654320987654320987654320987654320987654320987654320987654321

Задание
Число 1510
 записали 10
 раз подряд. Полученное число возвели в квадрат.

Напишите программу, которая повторит указанные действия и выведет полученный результат.

In [90]:
# ваш код
int('1510' * 10) ** 2

2280556088412121540186821962524285231803052272423962068174014121084075604280100

Ввод данных: функция input() <br/>
Все ранее рассмотренные программы выдавали один и тот же результат при каждом своём запуске. Для изменения входных данных нужно было вручную изменять значения переменных. Этого можно избежать, считывая данные с клавиатуры.

Для считывания строки с клавиатуры используется функция input(), которая возвращает значение считанной строки. Например, можно считать значения двух строк следующим образом:

a = input() </br>
b = input()

In [95]:
a = int(input())
print(a * 2)

q

ValueError: invalid literal for int() with base 10: 'q'

In [96]:
n = int(input("Введите количество ручек "))
price = int(input())

string = f"{n} ручек стоят {n*price} рублей"
print(string)

Введите количество ручек 6
57
6 ручек стоят 342 рублей

Правда, функция input() возвращает текстовую строку, а нам бывает нужно сделать так, чтобы переменные имели целочисленные значения. Поэтому сразу же после считывания выполним преобразование типов при помощи функции int и запишем новые значения в переменные a и b.<br/>

a = int(a) <br/>
b = int(b) <br/>
Можно объединить считывание строк и преобразование типов, если вызывать функцию int для того значения, которое вернёт функция input():

a = int(input())<br/>
b = int(input())<br/>
Далее в программе можно использовать значения переменных a и b для вычисления новых переменных или для вывода результата на экран. Теперь мы можем, не меняя исходного кода программы, многократно использовать её для решения различных задач. Для этого нужно запустить программу и после запуска ввести с клавиатуры два числа, нажимая после каждого клавишу Enter. Затем программа сама выведет результат.

In [ ]:
a = int(input())

Вывод данных: функция print()
Функция print() может выводить не только значения констант или переменных, но и значения выражений. Например, допустима такая запись:

print(a + b)

Задание. Напишите программу, которая будет считывать два целых числа с помощью функции input() (каждое в отдельной строке) и выводить их произведение.

In [97]:
# ваш код
a = int(input())
b = int(input())

print(a * b)

3
7
21

Задание. Напишите программу, которая считывает значения двух переменных a и b, затем меняет их значения местами и выводит их значения на экран.

In [105]:
# ваш код
a = int(input())
b = int(input())
print(a, b)

c = a
print(a, b, c)
a = b
print(a, b, c)
b = c

print(a, b, c)

1
3
1 3
1 3 1
3 3 1
3 1 1

Задание. Напишите программу, вычисляющую индекс массы тела (ИМТ) и выводящую его на печать. На вход программа принимает рост человека в сантиметрах и вес в килограммах. ИМТ рассчитывается как отношение массы тела в килограммах к квадрату роста в метрах.

In [108]:
# ваш код
h = int(input("Введите ваш рост в см: "))
w = int(input("Введите ваш вес в кг: "))

imt = w / (h / 100) ** 2
print("Ваш ИМТ: ", imt)

Введите ваш рост в см: 170
Введите ваш вес в кг: 80
Ваш ИМТ:  27.68166089965398

Задача. Следующее и предыдущее<br/>
Напишите программу, которая считывает целое число и выводит текст, аналогичный приведённому в примере. Пробелы, знаки препинания, заглавные и строчные буквы важны!

Входные данные:

Вводится целое число, по модулю не превосходящее 10000

Выходные данные:

Выведите сначала фразу «The next number for the number», затем введённое число, затем слово «is», окружённое пробелами, затем формулу для следующего за введённым числа, наконец, знак точки без пробела. Аналогично в следующей строке для предыдущего числа.

Примечание

Вывод необходимо организовать в две строки, по одному предложению в каждой. При выводе обращайте внимание на пробелы и регистр.

Если в функции print() просто через запятую перечислять аргументы, по умолчанию они будут выводиться через пробел. Чтобы решить эту проблему, используйте конкатенацию (сложение строк), либо f-строку.

Пример:<br/>
Ввод<br/>
179<br/>
Вывод<br/>
The next number for the number 179 is 180.<br/>
The previous number for the number 179 is 178.<br/>

In [109]:
# ваш код
current_number = int(input())

next_number = current_number + 1
prev_number = current_number - 1

print(f"The next number for the number {current_number} is {next_number}.")
print(f"The previous number for the number {current_number} is {prev_number}.")

23
The next number for the number 23 is 24.
The previous number for the number 23 is 22.