<h1>Строки</h1>

Строки
Строки в языке Python являются объектами типа str. Переменной можно присвоить значение, являющееся строкой, с помощью двойных или одинарных кавычек:

S = "Hello"<br/>
T = 'Hello'<br/>

Строка считывается со стандартного ввода функцией input():

S = input()<br/>
Напомним, что для строк определены операции сложения (конкатенация) и умножения строки на число.

In [ ]:
str = 'sfdjf jsdf sl'
str

In [ ]:
S = 'Hello ' +'World'
S

In [ ]:
S = 'A' * 50
S

Узнать количество символов (длину строки) можно при помощи функции len():

In [ ]:
S = 'Hello world'
print(len(S))

<h2>Обращение по индексу</h2>

Для получения одного символа строки используется обращение по индексу. Индексом называется номер символа в строке.

Например, S[i] — это символ строки, который имеет индекс i, при этом нумерация начинается с числа 0. То есть если S = 'Hello', то S[0] == 'H', S[1] == 'e', S[2] == 'l', S[3] == 'l', S[4] == 'o'.

Если мы хотим обратиться к последнему элементу некоторой строки, то нужно сначала узнать её длину, после чего вычесть из полученного значения 1. Для нахождения длины используется функция len(S). Таким образом, последний элемент строки будет возвращаться функцией S[len(S) - 1]. Однако данная конструкция достаточно громоздка, вместо неё можно использовать отрицательные значения индексов.

Если указать отрицательное значение индекса, то номер будет отсчитываться с конца, начиная с -1. То есть S = 'Hello', то S[-1] == 'o', S[-2] == 'l', S[-3] == 'l', S[-4] == 'e', S[-5] == 'H'.

![image.png]()

Если же номер символа строки S больше либо равен len(S) или меньше чем -len(S), то при обращении к этому символу строки произойдёт ошибка IndexError: string index out of range.

Задача. Количество букв 'a' в строке <br/>
Дана строка, необходимо посчитать количество букв 'a' в ней.

In [ ]:
count = 0
S = input()
for i in range(len(S)):
    if S[i] == 'а':
        count += 1
print(count)

In [ ]:
count = 0
S = input()
for c in S:
    if c == 'а':
        count += 1
print(count)

Задача. Дана строка, состоящая из n цифр (т. е. однозначных чисел), между которыми стоит n−1 знак операции, каждый из которых может быть либо +, либо −. Вычислите значение данного выражения.

In [ ]:
s = input()
answer = int(s[0])

for i in range(2, len(s), 2):
  if s[i - 1] == '+':
    answer += int(s[i])
  else:
    answer -= int(s[i])

print(answer)

<h2>Срезы</h2>

Срез (slice) — извлечение из данной строки некоторого фрагмента подстроки или подпоследовательности символов.

Срез можно создать таким образом: S[a : b]. Такой срез возвращает подстроку из b - a символов, начиная с символа c индексом a до символа с индексом b, не включая его. В этом случае a должно быть меньше b, иначе срез вернёт пустую строку. Будем рассматривать в качестве примера строку S = 'Abracadabra'. Для неё срез S[2 : 7] == 'racad'.

Можно использовать как положительные, так и отрицательные индексы в одном срезе. Например, S[1 : -1] — это строка без первого и последнего символа (срез начинается с символа с индексом 1 и заканчивается индексом -1, не включая его). Для рассмотренной выше строки срез S[1 : -1] == 'bracadabr', а срез S[-6 : -2] == 'adab'.

При использовании срезов ошибка IndexError никогда не возникает. Например, срез S[1 : 100000] вернёт строку 'bracadabra'.

Можно не указывать второй параметр (но поставить двоеточие), тогда срез берётся до конца строки. Например, чтобы удалить из строки первый символ, можно взять срез S[1:]. Аналогично можно опустить первый параметр, тогда срез S[:5] берётся от начала строки до указанного параметра 5, не включая его. Срез S[:] совпадает с самой строкой S.

<h2>Срезы с тремя параметрами</h2>

Пусть нам необходимо взять срез, в котором символы будут идти не подряд, а с некоторым шагом d. Тогда срез будет иметь три параметра: S[a : b : d]. Третий параметр задаёт шаг, как и в случае с функцией range(), то есть будут взяты символы с индексами a, a + d, a + 2 * d и так далее. Так, для рассмотренной выше строки S[2 : 9 : 2] вернёт строку 'rcdb'.

Кроме того, параметры можно опускать. Например, срез S[ : : 2] вернёт символы с чётными индексами, а срез S[1 : : 2] — с нечётными. Кроме того, можно взять значение шага среза равным отрицательному числу, тогда символы будут идти в обратном порядке. Например, срез S[9 : 4 : -1] == 'rbada', а S[ : : -1] == 'arbadacarbA'.

Задача. <br/>

Посчитайте заданные характеристики строки. Циклы использовать нельзя.

Входные данные

Дана строка, состоящая из строчных и прописных букв латинского алфавита.

Выходные данные

Сначала выведите третий символ этой строки.

Во второй строке выведите предпоследний символ этой строки.

В третьей строке выведите первые пять символов этой строки.

В четвёртой строке выведите всю строку, кроме последних двух символов.

В пятой строке выведите все символы с чётными индексами (считая, что индексация начинается с 0
, поэтому символы выводятся начиная с первого).

В шестой строке выведите все символы с нечётными индексами, то есть начиная со второго символа строки.

В седьмой строке выведите все символы в обратном порядке.

В восьмой строке выведите все символы строки через один в обратном порядке, начиная с последнего.

В девятой строке выведите длину данной строки.

In [ ]:
s = input()

print(s[2])
print(s[-2])
print(s[:5])
print(s[:-2])
print(s[::2])
print(s[1::2])
print(s[::-1])
print(s[-1::-2])
print(len(s))

Задача. Напишите программу, которая определяет, является ли введённое слово (без пробелов) палиндромом, то есть верно ли, что оно читается одинаково слева направо и справа налево.

Задача. Сначала чётные позиции, потом нечётные.

Дана строка. Выведите на одной строке сначала символы, стоящие на чётных позициях, а потом — на нечётных.

<h2>Методы find и rfind</h2>

Метод — это функция, применяемая к объекту, например к строке или числу. Метод вызывается в виде ИмяОбъекта.ИмяМетода(параметры).

Рассмотрим методы find и rfind для работы со строками.

Метод find находит в данной строке подстроку, которая передаётся в качестве параметра. Функция возвращает индекс первого (cамого левого) вхождения искомой подстроки. Если же подстрока не найдена, то метод возвращает значение -1. С помощью этого метода можно проверять, содержится ли подстрока в строке. Например:

In [ ]:
S = 'Abracadabra'
print(S.find('abr'))

In [ ]:
print(S.find('Abr'))

In [ ]:
print(S.find('aa'))

Аналогично метод rfind возвращает индекс последнего вхождения данной строки («поиск справа»).

In [ ]:
print(S.rfind('a'))

In [ ]:
print(S.rfind('br'))

Если вызвать метод find с тремя параметрами S.find(T, a, b), то поиск будет осуществляться в срезе S[a : b]. Если указать только два параметра S.find(T, a), то поиск будет осуществляться в срезе S[a : ], то есть начиная с символа с индексом a и до конца строки. Отметим, что метод S.find(T, a, b) возвращает индекс в строке S, а не индекс относительно начала среза. Например:

In [ ]:
print(S.find('a', 2, 8))

In [ ]:
S[2:]

In [ ]:
print(S.find('b', 2))

<h2>Методы count и replace</h2>

Метод count

Подсчитывает количество вхождений одной строки в другую строку. Простейшая форма вызова S.count(T) возвращает число вхождений строки T внутри строки S. При этом подсчитываются только непересекающиеся вхождения, например:

In [ ]:
S = 'Abracadabra'
print(S.count('a'))

In [ ]:
print(S.count('ra'))

In [ ]:
S = 'aaaaaaa'
print(S.count('aa'))

При указании трёх параметров S.count(T, a, b), будет выполнен подсчёт числа вхождений строки T в срез S[a : b].

Метод replace

Метод replace заменяет все вхождения одной строки на другую и возвращает полученную. При этом исходная строка не изменяется. Формат: S.replace(old, new) — заменить в строке S все вхождения подстроки old на подстроку new. Пример:

In [ ]:
S = 'Abracadabra'
t = S.replace('ra', 'e')

print(t)

In [ ]:
print(S.replace('a', 'A'))

C помощью метода replace можно изменить саму строку и удалить в ней все символы, равные некоторому, следующим образом:

In [ ]:
S = 'Abracadabra'
S = S.replace('a', '')
print(S)

Если методу replace задать третий параметр num, то заменены будут не все вхождения, а только не больше, чем первые num из них.

In [ ]:
S ='Abracadabra'
S = S.replace('a', '', 2)
print(S)

Точно так же как метод count, метод replace работает с непересекающимися шаблонами.

In [ ]:
S = 'aa'
S.replace('a', 'aa')

In [ ]:
S = 'aaaaa'
S.replace('aa', 'a')

Задача. Дана строка. Замените в этой строке все цифры 1 на слово 'one'.

In [ ]:
s = input()

replaced_s = s.replace('1', 'one')

print(replaced_s)

Задача. Дана строка, состоящая из слов, разделённых пробелами. Определите, сколько в ней слов. Используйте для решения задачи метод count.

In [ ]:
s = input()

spaces = s.count(" ")

print(spaces + 1)

Задача. Дана строка. Получите новую строку, вставив между всеми парами соседних символов исходной строки символ ∗.

In [ ]:
s = input()
new_s = s.replace("", "*")[1:-1]
new_s, s

Задача. Удаление гласных из строки

In [ ]:
s = input()

vowels = "aeiouAEIOU"
result = ""

for symb in s:
  if symb not in vowels:
    result = result + symb

print(result)

In [ ]:
s = input()

vowels = "aeiouAEIOU"

for symb in vowels:
  s = s.replace(symb, "")

print(s)

Задача. Напишите программу, которая удалит из введенной строки все согласные.

Задача. Напишите программу, которая считает сколько во введенном тексте согласных, а сколько гласных и выводит отношение числа гласных к числу согласных.

Задача. Напишите программу, которая считает количество цифр в строке.

Задача. Напишите программу, которая находит самое длинное слово в строке.

In [ ]:
s = input()

current_word = ""
max_length = 0

for symb in s:
  if symb != " ":
    current_word += symb
    print("current word: ", current_word)
  else:
    print("current word len: ", len(current_word), max_length)
    if len(current_word) > max_length:
      max_length = len(current_word)
    current_word = ""

if len(current_word) > max_length:
    max_length = len(current_word)

print(max_length)

Задача. Напишите программу, которая считывает некоторую строку и одно слово, а затем выводит, сколько раз это слово встретилось в тексте.

<h2>Методы работы с символами</h2>

S.isdigit()
Проверяет, состоит ли строка из цифр. Если да, возвращает True, иначе — False

S.upper()
Преобразует символы строки к верхнему регистру. Заглавные буквы и символы, которые не относятся к буквам, не меняются

S.lower()
Преобразует символы строки к нижнему регистру. Строчные буквы и символы, которые не относятся к буквам, не меняются

In [ ]:
S ='Abracadabra'
print(S.isalpha(), S.isdigit())

In [ ]:
S_digit = "4835703"
S_digit.isdigit()

In [ ]:
S_digit = "4835.703"
print(S_digit.isdigit())
s1 = int(float(S_digit))
s2 = float(S_digit)
print(s1, s2)

In [ ]:
S.upper()

In [ ]:
S.lower()

In [ ]:
S

S.lstrip([символ])

Удаляет определённые символы в начале строки. Здесь [символ] — необязательный аргумент. Если он не задан, метод удаляет пробелы

S.rstrip([символ])

Удаляет определённые символы в конце строки. Здесь [символ] — необязательный аргумент. Если он не задан, метод удаляет пробелы

S.strip([символ])
Делает то же самое с обеих сторон

In [ ]:
S ='    Abracadabra    '

In [ ]:
S.lstrip()

In [ ]:
S.rstrip()

In [ ]:
S.strip()

In [ ]:
S.strip().lstrip('A')

Задание. Напишите программу, которая принимает на вход строку, удаляет пробелы в начале и в конце и переводит все символы в нижний регистр

Задание: проверка сложности пароля. Напишите программу, которая проверяет, содержит ли входная строка хотя бы одну цифру, содержит ли хотя бы одну заглавную букву, содержит ли больше 8 символов. Также, пароль не должен начинаться и заканчиваться на пробел. Если пароль удовлетворяет требованиям, выведите строку "Пароль принят!", если нет - "Пароль слишком простой!"

Задача. Напишите программу, которая выведет количество цифр, заглавных и строчных букв и пробелов для введенной строки.

In [1]:
s = "dfsdf 889"
s.islower()

True

In [2]:
s = "."
s.isupper()

False

Задача. Напишите программу, которая переводит строку в "змеиный" регистр: все пробелы заменяются на "_", все буквы переводятся в нижний регистр.